[Desktop Entry]
Version=1.0
Type=Application
Name=Social-DL Installer
Name[de]=Social-DL Installieren
Name[en]=Install Social-DL
Comment=Install Social Media Video/Audio Downloader
Comment[de]=Social Media Video/Audio Downloader installieren
Comment[en]=Install Social Media Video/Audio Downloader
Exec=bash -c 'cd "$(dirname "%k")" && ./install-gui.sh'
Icon=system-software-install
Terminal=false
Categories=System;Settings;
Keywords=install;installer;setup;social-dl;
StartupNotify=true
